.heading {
    text-align: center;
    margin: 70px 0; 
}

.users {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user {
    width: 200px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 10px;
}

.unlink {
    color: black;
    text-decoration: none;
}

#budget {
    float: right;
}

.movies-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.movie-img {
    position: relative;
    border-radius: 7px;
    width: 200px;
    height: 240px;
    overflow: hidden;
    margin: 10px;
}

.movie {
    width: 200px;
    height: 240px;
}

.rent {
    color: black;
    background-color: lightgray;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
}

#movie-detail {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}